*{
    font-family: roboto ;
    /* transition: all 1s linear; */
    
    /* Uncomment the property above to get smooth transition in clock hands .
    This may cause a weired animation wheen second hand complete one cycle */
}
.hand {
    transform-origin: left;
    transform: rotate(0deg);
    z-index: 100;
}
#digitalClock{
    font-family: roboto;
}
#indicator {
    display: none;
}
.twist {
    
}